- provide :title, 'About'

.center
  %h2
    What's this about?
    %br
    %small Just another free TO-DO manager

.row
  .col-md-offset-4.col-md-4
    %p Hi! I'm Víctor Rodríguez, freelance web developer. You can reach me at #{ link_to 'rodriguezortega.com', 'http://rodrigeuzortega.com' }. Or contact me by #{ link_to 'mail', 'mailto:hello@rodriguezortega.com' }.

    %p Yes, it may seam silly, but it is just another TO-DO manager.

    %p It has been create to learn and improve my skills testing with RSpec.
