.center
  %h2
    Just another free TO-DO manager
    %br
    %small Create your TO-DO stuff and prioritize it easily

  .sign_up
    %p= link_to 'Sign up now!', '#', class: 'btn btn-lg btn-danger', id: 'sign_up'

  = image_tag 'something-todo-explanation.png', class: 'img-responsive img-rounded'
