%h1.page-header
  Something TODO

.row
  .col-xs-12.col-md-6
    = simple_form_for(@todo_item, remote: true) do |f|
      .form-group
        = f.input :title, label: false
      .form-group
        = f.button :submit, t("buttons.submit"), { class: 'btn-primary', data: { role: 'submit' } }

.row
  .col-xs-12.col-md-6
    %table#todo_items.table.table-striped
      %tbody
        = render @todo_items
