@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";

$main-bg-color: #e6e8e7;
$main-color: #333;
$nav-bg-color: #636f7f;
$nav-border-color: #536071;
$nav-a-color: #CCD0D2;
$nav-a-hover: #edf1f2;
$todos-border-color: #dbdfe0;
$todos-bg-color: #f2f2f2;
$li-bg-color: #FFF;
$done-color: #999;
$done-bg-color: #FCFCFC;

/* override bootstrap */

.navbar {
  border-radius: 0px;
  min-height: 35px;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 8px 15px;
  font-size: 16px;
  line-height: 19px;
  height: 35px;
}

.navbar-nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-default {
  background-color: $nav-bg-color;
  border-color: $nav-border-color;

  .navbar-nav > li > a,
  .navbar-brand {
    color: $nav-a-color;
  }

  .navbar-nav > li > a:hover,
  .navbar-brand:hover {
    color: $nav-a-hover;
  }

  .glyphicon {
    border: 1px solid $nav-a-color;
    border-radius: 4px;
    padding: 2px 3px;
    margin-right: 5px;
  }
}

/* custom */

body {
  background-color: $main-bg-color;
}

#new_todo_item {
  margin-top: 15px;
}

ul.todos {
  list-style: none;
  padding: 0;

  li {
    padding: 10px 15px;

    a {
      color: $main-color;
      text-decoration: none;
    }
  }
}

.todos {
  border: 2px solid $todos-border-color;
  border-radius: 7px;
  background-color: $todos-bg-color;
  margin-top: 25px;

  li {
    border: 2px solid $todos-border-color;
    border-radius: 5px;
    margin: 10px;
    background-color: $li-bg-color;
  }

  li.done {
    color: $done-color;
    background-color: $done-bg-color;
    span {
      text-decoration: line-through;
    }
  }
}

#main,
#starred,
#have_time {
  li.header {
    margin: 0px;
    border: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    padding: 5px 15px;
  }
}

#main {
  li.header {
    background-color: #81cfd1;
  }
}

#starred {
  li.header {
    background-color: #dfd67b;
  }
}

#have_time {
  li.header {
    background-color: #80d087;
  }
}

#calendar {
  padding: 0;

  li {
    color: #8b999a;
    text-align: center;
    display: inline-block;
    border-left: 2px solid #eaeceb;
    border-right: 2px solid #e1e3e2;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;

    h4 {
      margin-top: 15px;
      margin-bottom: 4px;
      font-size: 14px;
    }

    .glyphicon {
      color: #c9ced4;
      font-size: 16px;
      padding: 25px 0;
    }
  }

  li.first {
    border-left: 0;
  }

  li.last {
    border-right: 0;
  }

  li.current {
    color: #f5ffff;
    background-color: #da6666;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.todo_item {
  position: relative;

  .glyphicon {
    margin-right: 5px;
  }
}
