%header
  - if logged_in?
    = link_to 'Manage your tasks', app_root_url, class: 'pull-right btn btn-default'
  - else
    = link_to 'Sign in', login_path, class: 'btn btn-danger pull-right', id: 'sign_in'

  %h1
    = link_to root_url do
      %span.glyphicon.glyphicon-check
      Something TO-DO
