!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ content: "width=device-width, initial-scale=1", name: "viewport" }/
    %title Something to-do
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .jumbotron
      .container
        %h1 Something...

        %p Create your to-do list here using this simple form and get your stuff done!

    .container
      .row
        = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
